node_modules
.DS_Store
node_modules
/build
/.svelte-kit
/package
/dist
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
service-account.json
.firebase
firebase-debug.log
/test-results/
/playwright-report/
/playwright/.cache/
.vscode
.vercel/*
.netlify/*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests/.auth/user.json
screenshot.png
*/user.json
src/routes/test/**
src/routes/test
src/routes/test/+page.svelte

# Sentry Config File
.sentryclirc
~$*
blue-green-deployment.md
buildAndDeploy.sh
static/ExercisePhotos
static/ExercisePhotos4x3
static/ExerciseVideo
static/ExerciseVideoWebM
static/ExerciseSelectionHB
static/ExerciseSelectionLB
static/ExerciseSelectionMB
ExerciseSelectionHB
ExerciseSelectionMB
ExerciseSelectionLB
debug-output.html

# Sentry Config File
.env.sentry-build-plugin
supabase/migrations/
.playwright-mcp
